@import '../common/iconfont.scss';
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    header {
        height: .354167rem;
        padding: 0 .03125rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .125rem;
        .log {
            width: .479167rem;
            height: .291667rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .search {
            display: block;
            width: 2.166667rem;
            height: .291667rem;
            background: rgb(238, 238, 238);
            padding: 0 .291667rem;
            line-height: .291667rem;
            color: rgb(204, 204, 204);
            border-radius: .033333rem;
            position: relative;
            span {
                position: absolute;
                left: .041667rem;
                font-size: .183333rem;
                color: #B7B7B7;
            }
        }
        .login {
            width: .333333rem;
            height: .291667rem;
            text-align: center;
            line-height: .291667rem;
            a {
                color: rgb(51, 51, 51);
            }
        }
    }
    main {
        flex: 1;
        overflow-y: auto;
        .banner {
            width: 100%;
            height: 1.333333rem;
            img {
                width: 100%;
            }
        }
        // 商城快报
        .shoppingNews {
            display: flex;
            height: .341667rem;
            line-height: .133333rem;
            padding: .1rem 0 .1rem .15rem;
            color: #333;
            justify-content: space-between;
            align-content: center;
            border-bottom: .0125rem solid rgba(51, 51, 51, 0.1);
            
            .title {
                font-size: .133333rem;
                font-weight: normal;
                width: .533333rem;
                height: .133333rem;
            }  
            .toutiao {
                font-size: .1rem;
                padding-left: .041667rem;
                border-left: 0.00833rem solid #e3dfdf;
                overflow: hidden;
                margin-left: .0625rem;
                width: 2.379167rem;
                .scrollText {
                    overflow: hidden;
                }
                a {
                    color: #333;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-bottom: .016667rem;
                    em {
                        color: #f66;
                        float: left;
                    }
                    i {
                        float: left;
                    }
                }
            }
        }
        // 快速入口
        .quickEnter {
            padding: .104167rem;
            margin-top: .0125rem;
            font-size: .1rem;
            border-bottom: .008333rem solid rgba(51, 51, 51, 0.1);
            .enterList {
                display: flex;
                li {
                    width: 20%;
                    padding: .052083rem 0;
                    a {
                        display: block;
                        text-align: center;
                        color: #333;
                        img {
                            width: .416667rem;
                            height: .416667rem;
                            margin: auto;
                        }
                        p {
                            margin-top: .052083rem;
                        }
                    }
                }
            }
        }
        // 新品推荐
        .newGoods {
            text-align: center;
            .title {
                display: inline-block;
                font-weight: normal;
                font-size: .145833rem;
                color: #333;
                padding: 0 .520833rem;
                line-height: .433333rem;
                background: url(../images/tit_red.png) no-repeat center;
                background-size: 100% .145833rem;
                position: relative;
                span {
                    position: absolute;
                    width: .15625rem;
                    height: .125rem;
                    top: -0.15rem;
                    left: .416667rem;
                    img {
                        width: 100%;
                    }
                }
            }
            .newPic {
                display: flex;
                padding-bottom: .083333rem;
                a {
                    display: block;
                    flex: 1;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        // 视频
        .videoBox {
            .video-container {
                height: 1.758333rem;
                width: 100%;
                video {
                    width: 100%;
                    height: 100%;
                }
            }
            .video_link {
                display: block;
                font-size: .1rem;
                color: #fff;
                background: rgba(0, 0, 0, 0.56);
                padding: .052083rem .104167rem;
                line-height: .208333rem;
                overflow: hidden;
                span {
                    display: inline-block;
                }
                .btn {
                    width: .504167rem;
                    height: .208333rem;
                    text-align: center;
                    line-height: .208333rem; 
                    color: #ff9500;
                    background: rgba(0,0,0,.69);
                    border-radius: .125rem;
                }
            }
        }
        //明星推荐
        .starItem {
            @extend .newGoods;
            .starShop {
                height: 2.291667rem;
                padding: 0 .041667rem;
                display: flex;
                .starShop-left {
                    width: 50%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .starShop-right {
                    width: 50%;
                    margin-left: .041667rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    a {
                        display: block;
                        width: 100%;
                        height: 50%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    a:nth-child(2) {
                        margin-top: .04rem;
                    }
                }
            }
        }
        // 每日精选
        .daily {
            @extend .newGoods;
            .itemBox {
                display: flex;
                flex-wrap: wrap;
                .item-goods {
                    width: 33.3333%;
                    padding:.041667rem;
                    text-align: center;
                    a {
                        display: block;
                        border: 1px solid #d2d2d2;
                        padding-bottom: .083333rem;
                        img {
                            width: 100%;
                        }
                        p {
                            color: #333;
                            font-size: .114583rem;
                            margin-top: .083333rem;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
        // 品牌入驻
        .bargain {
            @extend .daily;
        }
        // 品牌入驻推荐
        .tuijian {
            padding-top: .104167rem;
            .banner {
                width: 100%;
            }
            .goodList {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 0 .041667rem;
                .goodItem {
                    width: 1.5rem;
                    margin-top: .041667rem;
                    a {
                        display: block;
                        .goodImg {
                            width: 100%;
                            height: 1.5rem;
                            background: #fff7e9;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .goodText {
                            padding: .052083rem 0 .052083rem .15625rem;
                            p {
                                width: 100%;
                                height: .208333rem;
                                font-size: .125rem;
                                color: #333;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .goodTextPrice {
                                color: #ea2727;
                                font-size: .1rem;
                            }
                        }
                    }
                }
                .goodItem:nth-child(2n+1) {
                    margin-right: .041667rem;
                }
                .goodItem:nth-child(4n+2) a .goodImg {
                    background: #F4F2F7;
                }
                .goodItem:nth-child(4n+3) a .goodImg {
                    background: #F4F2F7;
                }
            }
        }
        // 社区论坛
        .forum {
            @extend .bargain;
            @extend .tuijian;
            .goodList {
                .goodItem {
                    a {
                       .goodTextForum{
                           p {
                                color: #333; 
                                margin: .083333rem 0;
                                font-size: .116667rem;
                                white-space: inherit;
                                overflow: visible;
                                text-align: left;
                                height: .283333rem;
                           }
                       } 
                    }
                }
            }
        }
        // 更多商品
        .moreGoods {
            @extend .tuijian;
            @extend .forum;
            .goodList {
                text-align: left;
            }
        }
    }
    footer {
        width: 100%;
        height: .4625rem;
        background: red;
    }
}