@import './yo/usage/core/reset.scss';
@import './modules/common/swiper.min.css';
html {
    font-size: 32vw;
    background: #ffffff;
}
#page {
    height: 100%;
}
@import './modules/index/index.scss';
@import './modules/index/search.scss';
@import './modules/index/menu.scss';