<footer>
    <ul>
        <li class="item">
            <a id="" href="#home">
                <span class="iconfont icon-home2 active"></span>
                <p>首页</p>
            </a>
        </li>
        <li class="item">
            <a id="" href="#menu">
                <span class="iconfont icon-liebiao"></span>
                <p>分类</p>
            </a>
        </li>
        <li class="item">
            <a href="">
            </a>
        </li>
        <li class="item">
            <a id="" href="#shopCart">
                <span class="iconfont icon-31gouwuchexuanzhong"></span>
                <p>购物车</p>
            </a>
        </li>
        <li class="item">
            <a id="" href="#person">
                <span class="iconfont icon-wodexuanzhong"></span>
                <p>我的</p>
            </a>
        </li>
    </ul>
</footer>