<div class="container">
    <header>
        <div class="log">
            <img src="https://p.ssl.qhimg.com/t01f4ae47000adcadee.png" alt="">
        </div>
        <a href="#/search" class="search">
            <span class="iconfont icon-fenxiang"></span>
            搜索商品
        </a>
        <div class="login"><a href="">登录</a></div>
    </header>
    <main>
        <div class="content">
            <!-- 轮播图 -->
            <div class="banner">
                <div class="swiper-container bannerTap">
                    <div class="swiper-wrapper">
                        {{each indexData.data.loop.data}}
                        <div class="swiper-slide">
                            <img src="{{$value.pic}}" alt="">
                        </div>
                        {{/each}}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- 商城快报 -->
            <div class="shoppingNews">
                <h2 class="title">商城快报</h2>
                <div class="toutiao swiper-container">
                    <div class="scrollText swiper-wrapper">
                        {{each indexData.data.toutiao.data}}
                        <a href="{{$value.url}}" class="swiper-slide">
                            <em>{{$value.tag}}</em>
                            <i>{{$value.msg}}</i>
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- 快速入口 -->
            <div class="quickEnter">
                <ul class="enterList">
                    {{each indexData.data.kuaisurukou.data}}
                    <li>
                        <a href="{{$value.url}}">
                            <img src="{{$value.pic}}" alt="">
                            <p>{{$value.desc}}</p>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!-- 新品推荐 -->
            <div class="newGoods">
                <h4 class="title">
                    新品推荐
                    <span><img src="./images/t01ea99335f119a032c.png" alt=""></span>
                </h4>
                <div class="newPic">
                    {{each indexData.data.newproduct.data}}
                    {{set urlId = $value.url}}
                    <a href="#/details?id={{urlId}}" class="detailsGo"><img src="{{$value.pic}}" alt=""></a>
                    {{/set}}
                    {{/each}}
                </div>
            </div>
            <!-- 视频 -->
            <div class="videoBox">
                <div class="video-container">
                    <video width="100%" height="100%" loop="" preload="auto" controls="controls"
                        poster="{{indexData.data.video.data[0].pic}}" style="object-fit: cover;"
                        src="{{indexData.data.video.data[0].video_url}}"></video>
                </div>
                <a href="{{indexData.data.video.data[0].url}}" class="video_link">
                    <span class="text">{{indexData.data.video.data[0].desc}}</span>
                    <span class="btn">点击购买</span>
                </a>
            </div>
            <!-- 明星单品 -->
            <div class="starItem">
                <h4 class="title">
                    明星单品
                </h4>
                <div class="starShop">
                    <div class="starShop-left">
                        {{set urlId = indexData.data.staritem.data[0].url}}
                        <a href="#/details?id={{urlId}}" class="detailsGo">
                            <img src="{{indexData.data.staritem.data[0].pic}}" alt="">
                        </a>
                        {{/set}}
                    </div>
                    <div class="starShop-right">
                        {{set urlId = indexData.data.staritem.data[1].url}}
                        <a href="#/details?id={{urlId}}" class="detailsGo">
                            <img src="{{indexData.data.staritem.data[1].pic}}" alt="">
                        </a>
                        {{/set}}
                        {{set urlId = indexData.data.staritem.data[2].url}}
                        <a href="#/details?id={{urlId}}" class="detailsGo">
                            <img src="{{indexData.data.staritem.data[2].pic}}" alt="">
                        </a>
                        {{/set}}
                    </div>
                </div>
            </div>
            <!-- 每日精选 -->
            <div class="daily">
                <h4 class="title">
                    每日精选
                </h4>
                <div class="itemBox">
                    {{each indexData.data.dailybest.data}}
                    <div class="item-goods">
                        {{set urlId = $value.url}}
                        <a href="#/details?id={{urlId}}" class="detailsGo">
                            <img src="{{$value.pic}}" alt="">
                            <p>{{$value.tag}}</p>
                        </a>
                        {{/set}}
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- 品牌入驻 -->
            <div class="bargain">
                <h4 class="title">
                    品牌入驻
                </h4>
                <div class="itemBox">
                    {{each indexData.data.bargain.data}}
                    <div class="item-goods">
                        {{set urlId = $value.url}}
                        <a href="#/details?id={{urlId}}" class="detailsGo">
                            <img src="{{$value.pic}}" alt="">
                            <p>{{$value.tag}}</p>
                        </a>
                        {{/set}}
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- 平拍入驻推荐 -->
            <div class="tuijian">
                <a href="{{indexData.data.tuijian.data[0].url}}" class="banner"><img
                        src="{{indexData.data.tuijian.data[0].pic}}" alt=""></a>
                <ul class="goodList">
                    {{each indexData.data.tuijian.data[0].items.data}}
                    <li class="goodItem">
                        {{set urlId = $value.url}}
                        <a href="#/details?id={{urlId}}" class="detailsGo">
                            <div class="goodImg">
                                <img src="{{$value.pic}}" alt="">
                            </div>
                            <div class="goodText">
                                <p class="goodTextName">{{$value.title}}</p>
                                <p class="goodTextPrice">￥{{$value.price_sale}}</p>
                            </div>
                        </a>
                        {{/set}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!-- 社区论坛 -->
            <div class="forum">
                <h4 class="title">
                    社区论坛
                </h4>
                <ul class="goodList">
                    {{each indexData.data.shequ.data}}
                    <li class="goodItem">
                        {{set urlId = $value.url}}
                        <a href="#/details?id={{urlId}}" class="detailsGo">
                            <div class="goodImg">
                                <img src="{{$value.pic}}" alt="">
                            </div>
                            <div class="goodTextForum">
                                <p class="goodTextName">{{$value.desc}}</p>
                            </div>
                        </a>
                        {{/set}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!-- 更多商品 -->
            <div class="moreGoods">
                <h4 class="title">
                    更多商品
                </h4>
                <ul class="goodList">
                </ul>
            </div>
            <!-- 底部 -->
            <div class="helpContents">
                <div class="help_top">
                    <div class="item">
                        <span class="circle">7</span>
                        <span class="text">7天无理由退货</span>
                    </div>
                    <div class="item">
                        <span class="circle">15</span>
                        <span class="text">15天免费换货</span>
                    </div>
                    <div class="item">
                        <span class="circle">包</span>
                        <span class="text">满99元包邮</span>
                    </div>
                </div>
                <div class="help_bottom">
                    <p class="service">客服热线：400-1555-360 周一到周日 9:00-21:00</p>

                    <p class="copyRight">360会员商城©2019 版权所有</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <ul>
            <li class="item">
                <a id="" href="#/home">
                    <span class="iconfont icon-home2 active"></span>
                    <p>首页</p>
                </a>
            </li>
            <li class="item">
                <a id="" href="#/menu">
                    <span class="iconfont icon-liebiao"></span>
                    <p>分类</p>
                </a>
            </li>
            <li class="item">
                <a href="">
                </a>
            </li>
            <li class="item">
                <a id="" href="#/shopCart">
                    <span class="iconfont icon-31gouwuchexuanzhong"></span>
                    <p>购物车</p>
                </a>
            </li>
            <li class="item">
                <a id="" href="#/person">
                    <span class="iconfont icon-wodexuanzhong"></span>
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </footer>
</div>