<div class="searchPage">
    <div class="search_header">
        <span class="back iconfont icon-31fanhui1"></span>
        <input type="text" placeholder="搜索商品" class="shopSearch">
        <button class="searchBtn">搜索</button>
    </div>
    <div class="shopNav">
        <ul>
            <li class="navList">儿童安全座椅</li>   
            <li class="navList">儿童安全</li>
            <li class="navList">儿童安全座</li>
            <li class="navList">儿童座椅</li>
            <li class="navList">儿童安全座椅</li>
            <li class="navList">儿童安全座椅</li>
            <li class="navList">儿童安全座椅</li>
            <li class="navList">儿童安全座椅</li>
            <li class="navList">儿童安全座椅</li>
            <li class="navList">儿童安全座椅</li>
        </ul>
    </div>
    <div class="searchResult">
        <div class="top">
            <button class="type">默认</button>
            <button class="type">
                价格
                <span></span>
            </button>
            <button class="type">
                <i></i>
                只看有货
            </button>
        </div>
        <div class="scroll">
            <div class="mainList">
                {{each searchData.data.list}}
                {{set urlId = $value.itemId}}
                <div class="itemList">
                    <a href="#/details?id={{urlId}}" class="">
                        <img src="{{$value.img}}" alt="">
                        <span class="goodName">{{$value.title}}</span>
                        <span class="goodPrice">￥<i>{{$value.price}}</i></span>
                    </a>
                </div>
                {{/set}}
                {{/each}}
            </div>
        </div>
    </div>
</div>