<div class="search_header">
    <span class="iconfont icon-31fanhui1"></span>
    <input type="text" placeholder="搜索商品" class="shopSearch">
    <button class="searchBtn">搜索</button>
</div>
<div class="shopNav">
    <ul>
        <li class="navList">儿童安全座椅</li>
        <li class="navList">儿童安全</li>
        <li class="navList">儿童安全座</li>
        <li class="navList">儿童座椅</li>
        <li class="navList">儿童安全座椅</li>
        <li class="navList">儿童安全座椅</li>
        <li class="navList">儿童安全座椅</li>
        <li class="navList">儿童安全座椅</li>
        <li class="navList">儿童安全座椅</li>
        <li class="navList">儿童安全座椅</li>
    </ul>
</div>
<div class="searchResult">
    <div class="top">
        <button class="type">默认</button>
        <button class="type">
            价格
            <span></span>
        </button>
        <button class="type">
            <i></i>
            只看有货
        </button>
    </div>
    <div class="mainList">
        <div class="itemList">
            <a href="">
                <img src="https://p.ssl.qhimg.com/dr/400_400_80/t01fca0053d9c4056b7.webp" alt="">
                <span class="goodName">360可视门铃 赠送两天循环永久云录</span>
                <span class="goodPrice">￥<i>319</i></span>
            </a>
        </div>
        <div class="itemList">
            <a href="">
                <img src="https://p.ssl.qhimg.com/dr/400_400_80/t01fca0053d9c4056b7.webp" alt="">
                <span class="goodName">360可视门铃 赠送两天循环永久云录</span>
                <span class="goodPrice">￥<i>319</i></span>
            </a>
        </div>
    </div>
</div>